@font-face {
  font-family: "norse-bold";
  src: url("./fonts/Norse-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body, html {
  margin: 0;
  padding: 0; 
  overflow: hidden;
  font-family: "Open Sans";
  font-family: Arial;
}

#main-wrapper {
  margin: 0;
  display: grid;
  grid-template-columns: minmax(300px, 1fr) 2fr;
}

#background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#sidebar {
  position: relative;
  display: flex;
}

#logo {
  box-sizing: border-box;
  padding: 12px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  position: absolute;
  top: 20%;
  background-color: rgba(0, 0, 0, 0.165);
  width: 100%;
  height: 160px;
  font-family: "norse-bold";

}

#logo > p {
  font-size: 7rem;
}

#logo > img {
  height: 100%;
}

#content {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

#content > div {
  padding-left: 56px;
}

#top {
  display: flex;
  align-items: end;
  padding-bottom: 12px;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 2rem;
}

#top p {
  width: 85%;
}

#top span:first-child {
  display: block;
  margin-top: 5px;
}

#top span:nth-child(2) {
  margin-top: 30px;
  display: block;
}

#middle {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

#middle #caption {
  font-weight: bold;
  font-size: 1.5rem;
}

#middle form {
  width: 60%;
}

#middle form > div {
  display: flex;
  gap: 100px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input {
  width: 260px;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #E5E7EB;
  padding-left: 8px;
  font-size: 1rem;
  margin-top: 3px;
}

input:focus {
  outline: none;
  border: 1px solid blue;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

input[class="error"]:focus,
input[class="error"] {
  border: 1px solid red;
}

input[class="error"] + span::after {
  content: "*Passwords do not match";
  color: red;
  font-size: .8rem;
} 

#middle label {
  letter-spacing: 1px;
  font-size: 0.85rem;
}

#bottom button {
  background-color: #596D48;
  border: none;
  color: white;
  margin-top: 36px;
  font-size: 1.3rem;
  font-weight: bold;
  width: 250px;
  height: 52px;
  border-radius: 10px;
  margin-bottom: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#bottom p {
  font-size: 1.2rem;
}

.login {
  text-decoration: none;
  color: #596D48;
  font-weight: bold;
}

.login:hover {
  text-decoration: underline;
}

